/* Header burger section -------------------- */
.header_burger-button-mobile {
  width: 40px;
  height: 40px;
  background: url("../images/images/header_burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.header_dark-layer {
  /* transform: translateX(100%); */
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  display: none;
}

.header_navigation-section-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
.header_contact-section-mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5%;
}
.header_mobile-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  right: 0;
}

.header_navigation-section-mobile > a {
  font-family: "Nominee";
  height: 10vh;
  font-size: 20px;
}

.header_contact-section-mobile > a > img {
  width: 30px;
  height: 30px;
}

.header_navigation-section-mobile {
  padding-bottom: 50px;
}
.footer_link-section-mobile {
  margin-bottom: 60px;
}

/* ------------------ Header burger section */

@media screen and (max-width: 1300px) {
  .welcome-section_header {
    font-size: 45px;
  }
  .list-section_subheader {
    font-size: 18px;
  }

  .compare-row_first-column {
    font-size: 20px;
  }

  .personalAgree-label {
    font-size: 12px;
  }
  .question-block_row {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .welcome-section_header {
    font-size: 40px;
  }
  .welcome-section_subheader {
    font-size: 25px;
  }
  .intro-section_text {
    font-size: 16px;
    line-height: 20px;
  }

  .list-section_header {
    font-size: 30px;
  }
  .list-section_subheader {
    font-size: 14px;
  }
  .content-head {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .content-body {
    font-size: 16px;
  }

  .compare-row_first-column {
    font-size: 20px;
  }

  .personalAgree-label {
    font-size: 10px;
  }
  .question-block_row {
    font-size: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .main_number-application-form {
    height: 200px;
  }
  .number-application-form_label {
    font-size: 14px;
  }
  .number-application-form_button {
    height: 50px;
    font-size: 20px;
  }
  .insurance-image {
    width: 40%;
  }

  .main_applicationForm-section {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-size: cover;
    background-position: center;
  }
  .main_welcome-section {
    height: calc(80vh + 100px);
    padding-bottom: 50px;
    /* padding-top: 100px; */
  }
  .welcome-section_header {
    margin-top: 40px;
  }
  .main_number-application-form {
    height: 200px;
  }
  .main_applicationForm-section {
    padding: 0%;
  }
  .number-application-form_label {
    font-size: 14px;
  }
  .number-application-form_button {
    height: 50px;
    font-size: 20px;
  }
  .insurance-image {
    display: none;
  }
  .insurance-section_list-section {
    width: 100%;
  }

  .main_applicationForm-section {
    padding: 50px 5%;
  }

  .header_navigation-section,
  .header_contact-section,
  .footer_link-section {
    display: none;
  }
  .header_burger-button-mobile {
    display: block;
  }
  .main_number-application-form {
    position: static;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
  }
  .number-application-form_label {
    font-size: 30px;
  }
  .main_insurance-section {
    height: fit-content;
    height: -moz-fit-content;
  }
}

@media screen and (max-width: 900px) {
  .insurance-image {
    display: none;
  }
  .main_insurance-section {
    height: fit-content;
    height: -moz-fit-content;
  }
  .insurance-section_list-section {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header,
  .footer {
    min-height: 60px;
  }
  .logo-image {
    height: 30px;
    width: 30px;
  }
  .main_welcome-section {
    height: 80vh;
  }
  .insurance-image {
    display: none;
  }
  .main_insurance-section {
    height: fit-content;
    height: -moz-fit-content;
  }
  .insurance-section_list-section {
    width: 100%;
  }
  .main_compare-section {
    padding: 0 2% 50px 2%;
  }

  .compare-row_first-column {
    font-size: 15px;
    width: 50%;
  }
  .compare-row_second-column,
  .compare-row_third-column {
    width: 25%;
  }
  .applicationForm {
    display: none;
  }
  .applicationForm-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(150, 221, 187, 0.3);
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px 15px;
    width: 95%;
  }
  .main_applicationForm-section {
    height: fit-content;
    height: -moz-fit-content;
    padding-top: 40px;
  }
  .personalAgree-label {
    font-family: "Nominee";
  }
  .applicationForm_applyInfo-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-section-mobile_header {
    font-family: "Nominee";
    font-size: 20px;
    text-align: center;
  }

  .main_FAQ-section {
    padding: 0 1% 50px 1%;
  }
  #toTopButton {
    width: 40px;
    height: 40px;
  }
  .compare-section_header {
    font-size: 38px;
  }
  .main_number-application-form {
    height: 250px;

    margin-bottom: 20px;
  }

  .FAQ-section_question-block:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-image: url("../images/images/background-mobile.jpg");
    background-size: cover;
  }
  .main_compare-section {
    background: url("../images/images/background-mobile.jpg");
    background-size: cover;
  }
  .number-application-form_label {
    font-size: 20px;
  }

  .main_number-application-form {
    height: fit-content;
    height: -moz-fit-content;
  }
  .services-section_header,
  .compare-section_header {
    font-size: 30px;
  }
  .main_services-section,
  .main_benefit-section {
    background: #fff;
    height: fit-content;
    padding: 50px 3%;
  }
  .services-section {
    width: 90%;
  }
  .FAQ-section_question-block:hover {
    box-shadow: none;
  }
}
@media screen and (max-width: 600px) {
  .welcome-section_header {
    font-size: 30px;
  }
  .main_intro-section {
    padding: 10px 3%;
  }
  .intro-section_text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .number-application-form_label {
    font-size: 15px;
  }

  .list-section_header {
    font-size: 20px;
  }

  .list-section_subheader {
    font-size: 12px;
  }
  .list-section_list-table {
    width: 100%;
  }
  .list-row_first-column {
    width: 10%;
    background-size: 50%;
  }
  .list-row_second-column {
    width: 95%;
    font-size: 13px;
  }
  .services-section_header,
  .compare-section_header {
    font-size: 20px;
  }

  .question-block_row {
    font-size: 13px;
  }
  .FAQ-section_question-block {
    width: 95%;
    padding: 15px 10px;
  }
  .question-block_answer-block {
    font-size: 13px;
  }
  .link-section_user-agreement-link,
  .link-section_user-agreement-link:visited {
    font-size: 12px;
  }
  .section_image {
    height: 50px;
    width: 50px;
  }
  .main_welcome-section {
    align-items: center;
  }
  .welcome-section_header {
    font-size: 30px;
    margin-left: 0;
    text-align: center;
  }
  .welcome-section_subheader {
    font-size: 15px;
    text-align: center;
  }
  .main_number-application-form {
    margin-left: 0;
  }

  .services-section_header,
  .services-section {
    margin-bottom: 50px;
  }
  .content-body {
    font-size: 13px;
  }
  .list-section_subheader {
    font-size: 9px;
  }

  .compare-section_header {
    margin-top: 80px;
    font-size: 18px;
  }
  .compare-section_table {
    width: 95%;
  }
  .compare-row_first-column {
    font-size: 13px;
  }
  .info-section-mobile_header {
    font-size: 15px;
  }
  .requredActions-section_apply-button,
  .telephone-input_preNumber,
  .telephone-input_number {
    font-size: 15px;
  }
  .requiredActions-section_telephone-input,
  .requredActions-section_apply-button {
    height: 40px;
  }

  .applyInfo-section_requiredActions-section {
    height: fit-content;
    height: -moz-fit-content;
  }

  .personalAgree-label {
    margin-top: 0;
    font-size: 8px;
  }
  .applyInfo-section_personalAgree-checkbox + label::before {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  #toTopButton {
    right: 30px;
  }
}

@media screen and (max-width: 375px) {
}
