body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/images/mainBackground.png");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/* Button PageUp Section --------------------- */
#toTopButton {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 50px;
  z-index: 100000;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: rgba(150, 221, 187, 0.8);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 18px;
  background-image: url("../images/images/upArrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
/* --------------------- Button PageUp Section */
/* Font Section --------------------- */
/* Font Section --------------------- */
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Medium1.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-LightExtended.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-HairlineExtended.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avant";
  src: url("../fonts/16422.ttf");
  font-weight: 500;
}
/* --------------------- Font Section */

/* Header Section --------------------- */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  position: fixed;
  top: 0%;
  min-height: 80px;
  width: 100%;
  cursor: default;
}
.header_logo-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
}
.logo-text {
  font-family: "Nominee";
  font-weight: 500;
  margin-left: 5px;
}

.header_navigation-section {
  font-family: "Nominee";
  font-weight: 400;
  display: flex;
  font-size: 16px;
}

.navigation-section_nav-button {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
  position: relative;
}

.button-border {
  margin-right: 5px;
}

.navigation-section_nav-button:hover {
  background-color: rgba(150, 221, 187);
  background-color: #78d3a7;
  color: white;
}

.header_contact-section {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.contact-link {
  text-decoration: none;
  margin-right: 20px;
}

.contact-link:last-child {
  margin-right: 0;
}
.navigation-section_nav-button {
  text-decoration: none;
  color: #152242;
}

.navigation-section_nav-button:hover {
  text-decoration: none;
  color: #fff;
}

/* --------------------- Header Section */

/* Welcome Section --------------------- */
.main_welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  position: relative;
}

.welcome-section_header {
  color: #fff;
  font-size: 50px;
  font-family: "Avant";
  margin-left: 10%;
  margin-bottom: 20px;
}

.welcome-section_subheader {
  color: #fff;
  font-size: 30px;
  font-family: "Avant";
  margin-left: 10%;
}
/* --------------------- Welcome Section */

/* Number Application Section --------------------- */
.main_number-application-form {
  width: 30%;
  height: 20%;
  position: absolute;
  top: 30%;
  right: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 22px;
  align-items: center;
  padding: 20px 20px;
}
.number-application-form_label {
  font-size: 15px;
  color: #78d3a7;
  font-family: "Nominee";
  text-align: center;
}

.number-application-form_input {
  outline: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 5px 10px;
  color: #78d3a7;
  background-color: #fff;
}

/* --------------------- Number Application Section */

/* Intro Section --------------------- */

.main_intro-section {
  height: 15vh;
  background-color: #78d3a7;
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
  position: relative;
  cursor: default;
}

.intro-section_text {
  color: #fff;
  font-family: "Nominee";
  font-size: 20px;
  line-height: 40px;
}

.main_intro-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid #78d3a7;
  z-index: 100;
}
/* --------------------- Intro Section */

/* Services and Benefits Section --------------------- */

.main_services-section,
.main_benefit-section {
  background-color: rgba(255, 255, 255, 1);
  background: url(../images/images/penk.svg) 99% 20% no-repeat,
    url(../images/images/poly.svg) 2% 50% no-repeat,
    url(../images/images/cube.svg) 85% 90% no-repeat, #fff;
  background-size: 10%;
  background-attachment: fixed;
  min-height: 150vh;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;
}

.services-section_header {
  color: #78d3a7;
  color: #152242;
  font-size: 40px;
  font-family: "Nominee";
  font-weight: 600;
  margin-bottom: 100px;
}

.content-head {
  color: #78d3a7;
  font-size: 30px;
  font-family: "Nominee";
  font-weight: 500;
}

.content-body {
  color: #152242;
  font-size: 20px;
  font-family: "Nominee";
  font-weight: 400;
}

.services-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 60%;
}

.section_image {
  width: 80px;
  height: 80px;
}

.section_content {
  width: 75%;
}
.image-section {
  width: 15%;
}

.main_services-section::after,
.main_benefit-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid #fff;
  z-index: 1000;
}

.main_benefit-section {
  min-height: 100vh;
}

/* --------------------- Services and Benefits Section */

/* Insurance Section --------------------- */
.main_insurance-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid rgba(150, 221, 187, 0.2);
  z-index: 1000;
}

.main_insurance-section {
  height: 100vh;
  position: relative;
  background-color: #fff;
  cursor: default;
  display: flex;
}

.insurance-image {
  width: 40%;
  height: 100%;
}

.insurance-section_list-section {
  width: 60%;
  height: 100%;
  background-color: rgba(150, 221, 187, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-section_header {
  margin-top: 100px;
  color: #152242;
  font-size: 40px;
  font-family: "Nominee";
  font-weight: 600;
}

.list-section_subheader {
  margin-top: 10px;
  color: #152242;
  font-size: 20px;
  font-family: "Nominee";
  font-weight: 500;
}
.list-section_list-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.list-table_row {
  display: flex;
  min-height: 15vh;
}
.list-row_first-column {
  background-image: url(../images/images/list-bullet.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 20%;
}
.list-row_second-column {
  width: 80%;
  font-family: "Nominee";
  color: #152242;
  font-weight: 500;
}
/* --------------------- Insurance Section */

/* Compare Section --------------------- */
.main_compare-section {
  height: 100vh;
  background-color: rgba(150, 221, 187, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  position: relative;
  cursor: default;
}
.compare-section_header {
  font-size: 40px;
  color: #152242;
  font-family: "Nominee";
  font-weight: 600;
  margin-top: 100px;
}

.compare-section_table {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  height: 70vh;
  margin-top: 50px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
}

.compare-table_row {
  display: flex;
  /* margin: 10px; */
  border-bottom: #78d3a7 solid 2px;
  height: 20%;
}

.compare-table_row:last-child {
  border: none;
}

.compare-row_first-column {
  height: 100%;
  width: 70%;
  font-size: 25px;
  font-family: "Nominee";
  font-weight: 400;
  display: flex;
  align-items: center;
}
.compare-row_second-column,
.compare-row_third-column {
  width: 15%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.first-header-column,
.second-header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-header-column > img {
  margin-bottom: 5px;
}

.check-mark {
  background-image: url(../images/images/list-bullet.svg);
}
.cross-mark {
  background-image: url(../images/images/cross.svg);
}
.wave {
  background: rgba(150, 221, 187, 0.5);
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: -5%;
  z-index: 100;
}
.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    white 13px
  );
  z-index: 100;
}

/* --------------------- Compare Section */

/* Application Section --------------------- */

.main_applicationForm-section {
  height: fit-content;
  margin-top: 5vh;
  padding: 0 10%;
  height: 50vh;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
}
.applicationForm {
  position: relative;
  display: flex;
  padding: 40px;
  height: fit-content;
  background-color: #fff;
  border-radius: 16px;
  justify-content: space-between;
  font-family: "Nominee";
  background-color: rgba(150, 221, 187, 0.3);
}

.applicationForm_advertismentInfo-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.advertismentInfo-section_header {
  color: #78d3a7;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 14px;
  font-weight: 500;
}

.advertismentInfo-section_subheader {
  color: #78d3a7;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.applicationForm_applyInfo-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.applyInfo-section_requiredActions-section {
  display: flex;
  width: 100%;
  height: fit-content;
}

.requiredActions-section_telephone-input {
  display: flex;
  height: 50px;
  width: 50%;
  margin-right: 5%;
}
.telephone-input_preNumber {
  background-color: #78d3a7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0px 0px 8px;
  font-size: 22px;
  width: 25%;
  height: 100%;
}

.telephone-input_number {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: #78d3a7;
  margin-left: 0px;
  padding: 0;
  padding-left: 10px;
  font-size: 20px;
  width: 70%;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
}

.requredActions-section_apply-button {
  width: 45%;
  height: 100%;
  background-color: #78d3a7;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
}

.requredActions-section_apply-button:active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.applyInfo-section_personalAgree-checkbox {
  display: none;
}
.applyInfo-section_personalAgree-checkbox + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #78d3a7;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.applyInfo-section_personalAgree-checkbox:checked + label::before {
  border-color: #78d3a7;
  background-color: #78d3a7;
  background-image: url("../images/images/checkmark.svg");
}

.personalAgree-label > a,
.personalAgree-label > a:visited {
  text-decoration: none;
  color: #429eeb;
}

.personalAgree-label > a:hover,
.personalAgree-label > a:active {
  color: #78d3a7;
}

.personalAgree-label {
  margin-top: 15px;
  font-size: 14px;
}
.waveApplication {
  background: rgba(150, 221, 187, 0.5);
  height: 0vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  transform: rotate(180deg);
}
.waveApplication::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    #fff 12px
  );

  z-index: 100;
}
/* ----------------------------------------------- Конец стилей для мини-формы заявки */

/* Мобильная заявка на подбор */
.main_applicationForm-section-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  max-height: 300px;
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.applicationForm-mobile {
  width: 86%;
  height: 100%;
  background-color: #fff;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
}
.applicatonForm_info-section-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}

.info-section-mobile_header {
  font-size: 40px;
  font-weight: bold;
  color: #323955;
  margin-bottom: 10px;
}

.info-section-mobile_subheader {
  font-size: 20px;
}

.applicationForm_apply-section-mobile {
  width: 100%;
  height: fit-content;
}
.applicationForm_applyInfo-section-mobile {
  width: 100%;
  height: 100%;
}
.requredActions-section_apply-button {
  height: 50px;
}

.requiredActions-section_telephone-input {
  margin-bottom: 20px;
}
/* --------------------- Application Section */
/* FAQ Section --------------------- */
.main_FAQ-section {
  height: fit-content;
  height: -moz-fit-content;
  padding: 0px 10% 50px 10%;
  background-color: rgba(150, 221, 187, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[name="FAQsection"] {
  display: none;
}

input[name="FAQsection"]:checked
  + label
  > .question-block_row
  > .question-block-indicator {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.FAQ-section_question-block {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  height: fit-content;
  height: -moz-fit-content;
  color: #78d3a7;
  padding: 20px 30px;
  overflow-y: hidden;
  border-radius: 22px;
  cursor: pointer;
}
.question-block_answer-block {
  display: none;
}
input[name="FAQsection"]:checked + label > .question-block_answer-block {
  display: block;
}

.question-block-indicator {
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.question-block_row {
  display: flex;
  align-items: center;
  font-family: "Nominee";
  font-size: 25px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.question-block_answer-block {
  margin-top: 18px;
  font-family: "Nominee";
  font-size: 20px;
  font-weight: 400;
  color: #152242;
}
/* --------------------- FAQ Section */
/* Footer Section --------------------- */

.footer {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.link-section_user-agreement-link,
.link-section_user-agreement-link:visited {
  font-family: "Nominee";
  font-weight: 400;
  text-decoration: none;
  color: #78d3a7;
}

.link-section_user-agreement-link:hover,
.link-section_user-agreement-link:active {
  color: rgba(150, 221, 187, 0.8);
}
/* --------------------- Footer Section */
