body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/images/mainBackground.png");
  background-attachment: fixed;
  background-size: cover;
}
/* Font Section --------------------- */
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Medium1.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-LightExtended.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-HairlineExtended.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avant";
  src: url("../fonts/16422.ttf");
  font-weight: 500;
}
/* --------------------- Font Section */

/* Header Section --------------------- */

.header {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
}
.header_logo-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo-text {
  font-family: "Nominee";
  font-weight: 400;
  margin-left: 5px;
}

.header_navigation-section {
  font-family: "Nominee";
  font-weight: 400;
  display: flex;
  font-size: 16px;
}

.navigation-section_nav-button {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
  position: relative;
}

.button-border {
  margin-right: 5px;
}

.navigation-section_nav-button:hover {
  background-color: rgba(150, 221, 187);
  color: white;
}

.header_contact-section {
  display: flex;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  margin-right: 20px;
}

.contact-link:last-child {
  margin-right: 0;
}

/* --------------------- Header Section */
/* Welcome Section --------------------- */
.main_welcome-section {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-section_header {
  color: #fff;
  font-size: 50px;
  font-family: "Avant";
  margin-left: 10%;
  margin-bottom: 20px;
}

.welcome-section_subheader {
  color: #fff;
  font-size: 30px;
  font-family: "Avant";
  margin-left: 10%;
}
/* --------------------- Welcome Section */
/* Intro Section --------------------- */

.main_intro-section {
  height: 15vh;
  background-color: #78d3a7;
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
  position: relative;
}

.intro-section_text {
  color: #fff;
  font-family: "Nominee";
  font-size: 20px;
  line-height: 40px;
}

.main_intro-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid #78d3a7;
  z-index: 100;
}
/* --------------------- Intro Section */

/* Services and Benefits Section --------------------- */

.main_services-section,
.main_benefit-section {
  background-color: rgba(255, 255, 255, 1);
  background: url(../images/images/penk.svg) 99% 20% no-repeat,
    url(../images/images/poly.svg) 2% 50% no-repeat,
    url(../images/images/cube.svg) 85% 90% no-repeat, #fff;
  background-size: 10%;
  background-attachment: fixed;
  min-height: 150vh;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.services-section_header {
  color: #78d3a7;
  color: #152242;
  font-size: 40px;
  font-family: "Nominee";
  font-weight: 600;
  margin-bottom: 100px;
}

.content-head {
  color: #78d3a7;
  font-size: 30px;
  font-family: "Nominee";
  font-weight: 500;
}

.content-body {
  color: #152242;
  font-size: 20px;
  font-family: "Nominee";
  font-weight: 400;
}

.services-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 60%;
}

.section_image {
  width: 80px;
  height: 80px;
}

.section_content {
  width: 75%;
}
.image-section {
  width: 15%;
}

.main_services-section::after,
.main_benefit-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid #fff;
  z-index: 1000;
}

.main_benefit-section {
  min-height: 100vh;
}

/* --------------------- Services and Benefits Section */

/* Insurance Section --------------------- */
.main_insurance-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  right: 0;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 5vw solid rgba(150, 221, 187, 0.2);
  z-index: 1000;
}

.main_insurance-section {
  height: 100vh;
  position: relative;
  background-color: #fff;

  display: flex;
}

.insurance-image {
  width: 40%;
  height: 100%;
}

.insurance-section_list-section {
  width: 60%;
  height: 100%;
  background-color: rgba(150, 221, 187, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-section_header {
  margin-top: 100px;
  color: #152242;
  font-size: 40px;
  font-family: "Nominee";
  font-weight: 600;
}

.list-section_subheader {
  margin-top: 10px;
  color: #152242;
  font-size: 20px;
  font-family: "Nominee";
  font-weight: 500;
}
.list-section_list-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.list-table_row {
  display: flex;
  min-height: 15vh;
}
.list-row_first-column {
  background-image: url(../images/images/list-bullet.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 20%;
}
.list-row_second-column {
  width: 80%;
  font-family: "Nominee";
  color: #152242;
  font-weight: 500;
}
/* --------------------- Insurance Section */

/* Compare Section --------------------- */
.main_compare-section {
  height: 100vh;
  background-color: rgba(150, 221, 187, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}
.compare-section_header {
  font-size: 40px;
  color: #152242;
  font-family: "Nominee";
  font-weight: 600;
  margin-top: 100px;
}

.compare-section_table {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  height: 70vh;
  margin-top: 50px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
}

.compare-table_row {
  display: flex;
  /* margin: 10px; */
  border-bottom: #78d3a7 solid 2px;
  height: 20%;
}

.compare-table_row:last-child {
  border: none;
}

.compare-row_first-column {
  height: 100%;
  width: 70%;
  font-size: 25px;
  font-family: "Nominee";
  font-weight: 400;
  display: flex;
  align-items: center;
}
.compare-row_second-column,
.compare-row_third-column {
  width: 15%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.first-header-column,
.second-header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-header-column > img {
  margin-bottom: 5px;
}

.check-mark {
  background-image: url(../images/images/list-bullet.svg);
}
.cross-mark {
  background-image: url(../images/images/cross.svg);
}

/* --------------------- Compare Section */

/* Application Section --------------------- */
/* --------------------- Application Section */
/* FAQ Section --------------------- */
/* --------------------- FAQ Section */
/* Footer Section --------------------- */
/* --------------------- Footer Section */
